.form-wrap {
  position: relative;
  padding: 2rem;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  gap: 1rem;
}

.form label {
  font-weight: 700;
}

.form input {
  padding: 0.3rem;
  border: 1px solid rgba(131, 124, 124, 0.924);
}
